.Counter span{
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.Counter button{
    margin-right: 10px;
    user-select: none;
}

.Counter button:first-child:active{
   background-color: green;
}

.Counter button:nth-child(2):active{
    background-color: red;
}