.visible-counter{
    text-align: right;
}

.visible-counter button{
    background-color: #61dafb;
}

.like{
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    margin: 10px auto;
    padding: 10px 10px 0 10px;
}

.visible-likes{
    text-align: right;
}

.visible-likes button{
    background-color: #ff7f7f;
}

.like img{
    width: 100%;
}