@import "../../index";

.header {
  height: 60px;
  background-color: #282c34;
  text-align: center;
  padding-top: 30px;

  a {
    color: white;
    margin: 20px;
    font-size: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}



.div {
  background-color: lightgray;
  color: #282c34;
  text-align: center;
  height: 90vh;
}

.containerMain {
  min-height: 80vh;
}

.footer {
  height: 60px;
  padding-top: 30px;
  background-color: #282c34;
  text-align: center;
  color: white;
  font-size: 20px;
}

