.about{
  color: #ff7f7f;
  padding: 20px;
  text-align: center;
}

.blog{
  color: blue;
  padding: 20px;
  text-align: center;
}

.home{
  color: #94b21b;
  padding: 20px;
  text-align: center;
}

.notFound{
  color: black;
  padding: 20px;
  text-align: center;
}
