.containerForm {
  width: 100%;

  .rowForm {
    width: 100%;
    margin: 10px auto;

    input {
      width: 55%;
      height: 37px;
      font-size: 20px;
      margin-right: 13px;
      &::placeholder{
        font-size: 14px;
      }
    }
  }
}