.component-post {
  text-align: left;
  padding-left: 10px;

  .viewLoader {
    width: 150px;
    margin: 0 auto;
    text-align: center;
  }

  .btnForView {
    margin: 20px 0;
    padding: 10px;
  }
}




